* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 17px;
}

#myVideo {
    background-color: black;
    background-size: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


.content {
    position: fixed;
    text-align: center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #9D2933;
    color: white;
    cursor: pointer;
}

#myBtn:hover {
    background: #BFB5AF;
    color: black;
}

footer {
  text-align: center;
}


/*Mobile Styles*/

@media only screen and (min-width: 320px) and (min-height: 568px) {
    #myVideo {
        height: 100%;
    }

/*Tablet Styles*/
    /* Portrait */
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
      #myVideo {
          height: 100%;
          width: 100%;
      }
}
 
    /* Landscape */
@media only screen
  and (min-width: 1112px)
  and (max-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {         
     #myVideo {
          height: 100%;
          width: 100%;
    }
 
/*Desktop Styles*/
@media only screen and (min-width : 992px) {
    #myVideo {
    width: 100%;
    }
}